@import "tailwindcss";

@theme {
  --color-primary: #2665fd;
  --color-secondary: #6074b9;
  --color-tertiary: #bd3800;
  --color-neutral: #757681;
}

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #1e293b;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
